
<!-- Section: Contact v.1 -->

<br>
<br>
<br>

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form [formGroup]="playerForm" (ngSubmit)="submitPlayerButton()" class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" placeholder="Your Name" class="form-control" formControlName="name" />
                      <label class="form-label" for="form3Example1c"></label>
                    </div>

                    <div class="form-outline flex-fill mb-0" formGroupName="parent" >
                      <input type="text" id="form3Example1c" placeholder="Your Name" class="form-control" formControlName="parentName" />
                      <label class="form-label" for="form3Example1c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" placeholder="Your Email" class="form-control" formControlName="email" />
                      <label class="form-label" for="form3Example3c"></label>
                    </div>

                    <div class="form-outline flex-fill mb-0" formGroupName="parent">
                      <input type="email" id="form3Example3c" placeholder="Your Parents Email" class="form-control" formControlName="parentEmail" />
                      <label class="form-label" for="form3Example3c"></label>
                    </div>

                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">

                    <div class="form-outline flex-fill mb-0" >
                      <input type="email" id="form3Example3c" placeholder="Height (Feet)" class="form-control" formGroupName="heightFeet" />
                      <label class="form-label" for="form3Example3c"></label>
                    </div>

                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" placeholder="Height (Inches)" class="form-control" formGroupName="heightInches" />
                      <label class="form-label" for="form3Example3c"></label>
                    </div>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" placeholder="Your Age" class="form-control" formGroupName="age" />
                      <label class="form-label" for="form3Example3c"></label>
                    </div>

                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" placeholder="Your Weight" class="form-control" formGroupName="weight" />
                      <label class="form-label" for="form3Example3c"></label>
                    </div>


                  </div>



                  <div class="d-flex flex-row align-items-center mb-4" formGroupName="parent">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="number" id="form3Example4c" placeholder="Parent Phone Number" class="form-control" formControlName="phoneNumber" />
                      <label class="form-label" for="form3Example4c"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4" formGroupName="parent">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example4cd" placeholder="Address" class="form-control" formControlName="streetName" />
                      <label class="form-label" for="form3Example4cd"></label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4" formGroupName="parent">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example4cd" placeholder="City" class="form-control" formControlName="city"/>
                      <label class="form-label" for="form3Example4cd"></label>
                    </div>
                    <div class="form-outline flex-fill mb-0" class="row-cols-md-4">
                      <input type="text" id="form3Example4cd" placeholder="State" class="form-control" formControlName="state" />
                      <label class="form-label" for="form3Example4cd"></label>
                    </div>

                    <div class="form-outline flex-fill mb-0" class="row-cols-md-4" >
                      <input type="number" id="form3Example4cd" placeholder="Zip" class="form-control" formControlName="zip"/>
                      <label class="form-label" for="form3Example4cd"></label>
                    </div>

                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="form2Example3c"
                    />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button class="d-flex justify-content-center mx-4 mb-3 mb-lg-4" type="submit" class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="assets/TryOuts.jpg" class="img-fluid" id="rounded" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
</section>

<br>
<br>
<br>

<div class="container">
  <h4>Our Location</h4>

  <!--Google map-->
  <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px" style="width: 1400px">
    <iframe src="https://maps.google.com/maps?width=100%25&amp;height=1000&amp;hl=en&amp;q=7%20A%20St,%20Derry,%20NH%2003038+(DC%20Blue%20Deviils)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
  </div>
  <!-- Buttons-->
  <div class="row text-center">
    <div class="col-md-4">
      <a class="btn-floating blue accent-1">
        <i class="fas fa-map-marker-alt"></i>
      </a>
      <p>Derry, 94126</p>
      <p class="mb-md-0">United States</p>
    </div>
    <div class="col-md-4">
      <a class="btn-floating blue accent-1">
        <i class="fas fa-phone"></i>
      </a>
      <p>+ 01 234 567 89</p>
      <p class="mb-md-0">Mon - Fri, 8:00-7:00</p>
    </div>
    <div class="col-md-4">
      <a class="btn-floating blue accent-1">
        <i class="fas fa-envelope"></i>
      </a>
      <p>DCBlueDevils@gmail.com</p>
      <p class="mb-0">sale@gmail.com</p>
    </div>
  </div>

</div>

<!--<div class="wrapper">-->
 <!-- <div class="inner">-->
<!--    <form (ngSubmit)="submitContactButton()">-->
<!--      <h3>Contact Us</h3>-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>-->

<!--      <div class="form-group">-->
<!--      <label for="Name"></label>-->
<!--      <input id="input" type="text" class="form-control"  required="required" [(ngModel)]="client.name" name="name">-->
<!--        <span for="Name">Your Name</span>-->
<!--        <span class="border"></span>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--      <label for="Email"></label>-->
<!--        <input id="input" type="email" class="form-control" required="required" [(ngModel)]="client.email" name="email" >-->
<!--        <span for="Email">Your Mail</span>-->
<!--        <span class="border"></span>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--      <label for="Message"></label>-->
<!--        <textarea id="textarea" type="text" class="form-control" required="required" [(ngModel)]="client.message" name="message"></textarea>-->
<!--        <span class="border"></span>-->
<!--      </div>-->


<!--      <button id="button" type="submit">Submit-->
<!--&lt;!&ndash;        <i class="zmdi zmdi-arrow-right"></i>&ndash;&gt;-->
<!--      </button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div> -->


