<h4>Contact Me Requests</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Client Name</th>
    <th scope="col">Client Email</th>
    <th scope="col">Client Message</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let client of clients">
    <td>{{client.name}}</td>
    <td>{{client.email}}</td>
    <td>{{client.message}}</td>
    <td><button class="btn btn-danger" (click)="deleteClient(client.id)">Delete</button></td>
  </tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Client Name</th>
    <th scope="col">Client Email</th>
    <th scope="col">Client Message</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let player of players">
    <td>{{player.name}}</td>
    <td>{{player.email}}</td>
    <td>{{player.age}}</td>
    <td>{{player.heightFeet}}</td>
    <td>{{player.heightInches}}</td>
    <td>{{player.weight}}</td>
    <td><button class="btn btn-danger" (click)="deletePlayer(player.id)">Delete</button></td>
  </tr>
  </tbody>
</table>
<button class="btn btn-success" (click)="logOut()">LogOut</button>
<button class="btn-success" (click)="getAllPlayers()">Fetch Info</button>
